{% extends 'templates/tool-base.html' %}

{% set category = "global" %}
{% set title = "category-members" %}
{% set desc = "list all the pages in a category" %}

{% block styles%}
{% include 'templates/lib-bootstrap-select-css.html' %}
{% endblock %}

{% block tool %}
{% raw %}
<section class="container">
    <div id="app">
        <form>
            <div class="form-group">
                <label for="textInputField">Get category members of</label>
                <input class="form-control" type="text" id="textInputField" v-model.trim="text">
                <small class="text-muted form-text">category titles are case-sensitive</small>
            </div>

            <ns-picker v-model="selectedNS"></ns-picker>
            <target-wiki></target-wiki>

            <input type="button" value="Fetch" class="btn btn-primary" v-on:click.prevent="generate" v-bind:disabled="isRunning">
            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" v-show="isRunning"></span>
        </form>

        <div class="card mt-4" v-show="showResult">
            <div class="card-header">Result</div>
            <div class="card-body">
                <pre>{{result}}</pre>
            </div>
        </div>
    </div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% include 'templates/lib-axios.html' %}
{% include 'templates/lib-bootstrap-select-js.html' %}

{% raw %}
<script type="module">
    import JSWiki from "/jswiki.js";
    import { nsPicker, targetWiki } from "/comps.js";
    import { defaultTargetWiki } from "/utils.js";

    const wiki = new JSWiki(defaultTargetWiki());

    new Vue({
        el: "#app",
        data: {
            text: "",
            showResult: false,
            result: "",
            isRunning: false,
            selectedNS: [],
        },
        components: {
            "ns-picker": nsPicker,
            "target-wiki": targetWiki
        },
        methods: {
            generate() {
                if (!this.text)
                    return;
                else if (!this.text.toLowerCase().startsWith("category:"))
                    this.text = "Category:" + this.text;

                this.isRunning = true;
                this.result = "";

                wiki.categoryMembers(this.text, this.selectedNS).then(l => {
                    this.result = l.join("\n");
                    this.isRunning = false;
                    this.showResult = true;
                });
            }
        }
    });
</script>
{% endraw %}
{% endblock %}