{% extends 'templates/tool-base.html' %}

{% set category = "global" %}
{% set title = "template-transclusions" %}
{% set desc = "get the list of pages transcluding a page/template" %}

{% block styles%}
{% include 'templates/lib-bootstrap-select-css.html' %}
{% endblock %}

{% block tool %}
{% raw %}
<section class="container">
    <div id="app">
        <form>
            <div class="form-group">
                <label for="textInputField">Get transclusions of</label>
                <input class="form-control" type="text" id="textInputField" v-model.trim="text" v-bind:disabled="isRunning">
                <small class="text-muted form-text">Title is case-sensitive, include namespace prefix if applicable</small>
            </div>

            <ns-picker v-model="selectedNS"></ns-picker>
            <target-wiki></target-wiki>

            <input type="button" value="Fetch" class="btn btn-primary" v-on:click.prevent="generate" v-bind:disabled="isRunning">
            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" v-show="isRunning"></span>
        </form>

        <div class="card mt-4" v-show="showResult">
            <div class="card-header">Result</div>
            <div class="card-body">
                <pre>{{result}}</pre>
            </div>
        </div>
    </div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% include 'templates/lib-axios.html' %}
{% include 'templates/lib-bootstrap-select-js.html' %}

{% raw %}
<script type="module">
    import JSWiki from "/jswiki.js";
    import { nsPicker, targetWiki } from "/comps.js";
    import { defaultTargetWiki } from "/utils.js";

    const wiki = new JSWiki(defaultTargetWiki());

    Vue.createApp({
        data() {
            return {
                text: "",
                showResult: false,
                result: "",
                isRunning: false,
                selectedNS: [],
            };
        },
        components: {
            "ns-picker": nsPicker,
            "target-wiki": targetWiki
        },
        methods: {
            generate() {
                if (!this.text)
                    return;

                this.isRunning = true;
                this.result = "";

                wiki.transclusions(this.text, this.selectedNS).then(m => {
                    if (m && m.has(this.text))
                        this.result = m.get(this.text).join("\n");

                    this.isRunning = false;
                    this.showResult = true;
                });
            }
        }
    }).mount("#app");
</script>
{% endraw %}
{% endblock %}