{% extends 'templates/tool-base.html' %}

{% set title = "wikilinks-from-list" %}
{% set desc = "make wikilinks from a list of titles" %}

{% block tool %}
{% raw %}
<section class="container">
    <div id="app">
        <form>
            <div class="form-group">
                <label for="textInputField">Titles to create wikitext links for</label>
                <textarea class="form-control" rows="15" id="textInputField" v-model.trim="text"></textarea>
                <small class="text-muted">One title per line</small>
            </div>
            <div class="form-group">
                <label for="nsPrefixBox">Additional namespace prefix (if applicable)</label>
                <input type="text" id="nsPrefixBox" class="form-control" v-model.trim="nsPrefix">
            </div>
            <div class="form-check form-group">
                <input class="form-check-input" type="checkbox" id="colonPrefixCheckbox" v-model="useColonPrefix">
                <label class="form-check-label" for="colonPrefixCheckbox">Use colon prefix</label>
            </div>
            <div class="form-check form-group">
                <input class="form-check-input" type="checkbox" id="orderedListPrefixCheckbox" v-model="useOLPrefix">
                <label class="form-check-label" for="orderedListPrefixCheckbox">Ordered list (use #)</label>
            </div>
        </form>

        <div class="card mt-4" v-show="text">
            <div class="card-header">Result</div>
            <div class="card-body">
                <pre>{{procText()}}</pre>
            </div>
        </div>
    </div>
</section>
{% endraw %}
{% endblock %}


{% block scripts %}
{% raw %}
<script>
    Vue.createApp({
        data() {
            return {
                text: "",
                nsPrefix: "",
                useColonPrefix: false,
                useOLPrefix: false,
            };
        },
        methods: {
            procText() {
                const linkPrefix = this.useColonPrefix ? ":" : "";
                const listPrefix = this.useOLPrefix ? "#" : "*";

                return this.text.split("\n").map(s => s.trim()).filter(s => s).map(s => `${listPrefix}[[${linkPrefix}${this.nsPrefix}${s}]]`).join("\n");
            }
        }
    }).mount("#app");
</script>
{% endraw %}
{% endblock %}