{% extends 'templates/tool-base.html' %}

{% set title = "ffd2a" %}
{% set desc = "quickly generate ffd2a templates" %}

{% block tool %}
{% raw %}
<section class="container">
    <div id="app">
        <form>
            <div class="form-group">
                <label for="textInputField">Files to generate <a href="https://en.wikipedia.org/wiki/Template:Ffd2a" target="_blank">Ffd2a</a> listings for</label>
                <textarea class="form-control" rows="15" id="textInputField" v-model.trim="text"></textarea>
                <small class="text-muted">One file per line, must start with "File:" prefix and exist on enwp.  Everything else will be ignored.</small>
            </div>

            <input type="button" value="Generate" class="btn btn-primary" v-on:click.prevent="generate" v-bind:disabled="isRunning">
            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" v-show="isRunning"></span>
        </form>

        <div class="card mt-4" v-show="showResult">
            <div class="card-header">Result</div>
            <div class="card-body">
                <pre>{{result}}</pre>
            </div>
        </div>

        <div class="alert alert-warning mt-2" role="alert" v-show="errorMessages.length">
            <p>Warnings</p>
            <ul>
                <li v-for="msg in errorMessages" :key="msg">{{msg}}</li>
            </ul>
        </div>

    </div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% include 'templates/lib-axios.html' %}

{% raw %}
<script type="module">
    // import JSWiki from "/jswiki.js";

    new Vue({
        el: "#app",
        data: {
            text: "",
            showResult: false,
            result: "",
            isRunning: false,
            errorMessages: []
        },
        methods: {
            generate() {
                if (!this.text)
                    return;

                this.isRunning = true;
                this.result = "";
                this.errorMessages = [];

                const queries = this.text.split("\n").map(s => s.trim()).filter(s => s && s.startsWith("File:")).map(s => axios.get(`https://en.wikipedia.org/w/api.php?action=query&format=json&origin=*&prop=revisions&formatversion=2&rvlimit=1&rvdir=newer&titles=${encodeURIComponent(s)}`));

                Promise.all(queries).then(values => {
                    const results = [];
                    const errors = [];
                    for (const response of values)
                    {
                        const page = response.data.query.pages[0];

                        if(page.hasOwnProperty("missing"))
                            errors.push(`${page.title} does not exist, omitting`);
                        else
                            results.push(`{{subst:Ffd2a|${page.title.substring(5)}|multi=yes|uploader=${page.revisions[0].user}}}`);
                    }

                    this.isRunning = false;
                    this.result = results.join("\n");
                    this.errorMessages = errors;
                    this.showResult = true;
                });
            }
        }
    });
</script>
{% endraw %}
{% endblock %}