<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">

	<title>json-format - the simple json formatter</title>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://meta.wikimedia.org/wiki/User:Fastily">Author</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/fastily/base-encode">Source</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://tools.wmflabs.org">Toolforge</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<header>
		<div class="container jumbotron mt-4">
			<h1 class="display-4">json-format</h1>
			<p class="lead">(The simple json formatter)</p>
		</div>
	</header>

	<section class="container">
		<div id="app">
			<form>
				<div class="form-group">
					<label for="textInputField">Text to format:</label>
					<textarea class="form-control" rows="15" id="textInputField" v-model="text"></textarea>
				</div>

				<div class="form-group">
					<label for="indentLevelField">Indentation level</label>
					<input id="indentLevelField" class="form-control" type="number" v-model="indentLevel" min="1" max="10">
				</div>
			</form>

			<div class="card mt-4">
				<div class="card-header">
					And here is your result:
				</div>
				<div class="card-body">
					<pre>{{procText()}}</pre>
				</div>
			</div>
		</div>
	</section>

	<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.16.0/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue/2.6.11/vue.min.js" crossorigin="anonymous"></script>

	<script>
		new Vue({
			el: "#app",
			data: {
				indentLevel: 1,
				text: ""
			},
			methods: {
				procText() {
					if (!this.text)
						return "";

					try {
						return JSON.stringify(JSON.parse(this.text), null, parseInt(this.indentLevel, 10));
					}
					catch (e) {
						return e.message;
					}
				}
			}
		});
	</script>
</body>

</html>