{% extends 'templates/base.html' %}

{% set title = "ftools" %}

{% block navbar_links %}
<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://github.com/fastily/ftools">Source</a>
</li>
{% endblock %}


{% block content %}
<header>
    <div class="container mt-5 text-center">
        <h1 class="display-2"><span style="font-family:'Trebuchet MS';color:Indigo;font-weight:bold;"><span style="font-size:120%;">F</span><span style="font-size:90%;">TOOLS</span></span></h1>
        <p class="lead">Fastily's Wikipedia Tools. Privacy First. No ads, no tracking, no bull$hit.</p>
    </div>
</header>

<section>
    <div class="container mt-5">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">Tool</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><a href="base-encode.html">base-encode</a></th>
                    <td>Encode/Decode strings from/to base64, convert integers from binary/octal/decimal/hex</td>
                </tr>
                <tr>
                    <th scope="row"><a href="ip-range-calc.html">ip-range-calc</a></th>
                    <td>Calculates the smallest CIDR block encompassing a given list of IP addresses</td>
                </tr>
                <tr>
                    <th scope="row"><a href="json-format.html">json-format</a></th>
                    <td>Pretty-print JSON</td>
                </tr>
                <tr>
                    <th scope="row"><a href="text2hash.html">text2hash</a></th>
                    <td>Calcluates the MD5/SHA1/SHA2/SHA3 hash of a string</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock%}