{% extends 'templates/base.html' %}

{% set title = "ftools" %}

{% macro tableRows(name, display_name="") -%}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="display-5" id="general">{{display_name|default(name.capitalize(), true)}}</h2>
        </div>
        <div class="card-body">
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col">Tool</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k,v in index[name]|dictsort %}
                    <tr>
                        <th scope="row"><a href="{{name}}/{{k}}.html">{{k}}</a></th>
                        <td>{{v}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endmacro %}

{% block content %}
<header>
    <div class="container mt-5 text-center">
        <h1 class="display-2"><span style="font-family:'Trebuchet MS';color:Indigo;font-weight:bold;"><span style="font-size:120%;">F</span><span style="font-size:90%;">TOOLS</span></span></h1>
        <p class="lead">Fastily's Wikipedia Tools. Privacy First. No ads, no tracking, no bull$hit.</p>
    </div>
</header>

<section>
    {{tableRows("general")}}
    {{tableRows("enwp", "English Wikipedia")}}
    {{tableRows("global", "Any Wikimedia Wiki")}}
</section>
{% endblock%}