{% extends 'templates/tool-base.html' %}

{% set title = "ip-range-calc" %}
{% set desc = "calculate a rangeblock right in your browser" %}

{% block tool %}
{% raw %}
<section class="container">
	<div id="app">
		<form>
			<div class="form-group">
				<label for="mainTextInput">First, list the IP addresses (one per line):</label>
				<textarea class="form-control" rows="5" id="mainTextInput" v-model.trim="inputText"></textarea>
			</div>
			<div class="form-group">
				<label for="selectIpType">Next, what kind of IP addresses are these?</label>
				<select class="form-control" id="selectIpType" v-model="selectedIPType">
					<option v-for="ipType in ipTypes" :key="ipType" :value="ipType">IPv{{ipType}}</option>
				</select>
			</div>

			<input type="button" value="Calculate!" class="btn btn-primary" v-on:click.prevent="calculate">
		</form>

		<hr>
		<div class="card" v-if="showResult">
			<div class="card-header">Your Result:</div>
			<div class="card-body">{{resultText}}</div>
		</div>

		<p class="alert alert-danger mt-2" role="alert" v-if="showBigRangeWarning">MediaWiki prohibits rangeblocks this large. Try experimenting with multiple, smaller ranges.</p>
	</div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% raw %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/ipaddr.js/1.9.1/ipaddr.min.js" crossorigin="anonymous"></script>

<script>
	new Vue({
		el: "#app",
		data: {
			ipTypes: ["4", "6"],
			inputText: "",
			selectedIPType: "",
			resultText: "",
			showBigRangeWarning: false,
			showResult: false
		},
		methods: {
			calculate() {
				this.showBigRangeWarning = false;

				if (!this.inputText || !this.selectedIPType) {
					alert("Error: Please fill out all fields!");
					return;
				}

				var protocol;
				var cnt;
				if (this.selectedIPType === "4") {
					protocol = ipaddr.IPv4;
					cnt = 32;
				}
				else {
					protocol = ipaddr.IPv6;
					cnt = 128;
				}

				var ipL = this.inputText.split("\n");

				// validate and parse IP addresses from user input
				var addrs = [];
				for (i = 0; i < ipL.length; i++) {
					if (!protocol.isValid(ipL[i]))
						return alert("Error: '" + ipL[i] + "' is not a valid IP address in this context.  Please fix before proceeding");

					addrs.push(ipaddr.parse(ipL[i]));
				}

				// count backwards until we get a CIDR match
				if (addrs.length > 1)
					for (i = 1; i < addrs.length; i++)
						while (!addrs[i].match(addrs[0], cnt) && cnt > 0)
							cnt--;

				// show warning for big ranges
				if (ipaddr.IPv4 === protocol && cnt < 16 || ipaddr.IPv6 === protocol && cnt < 19)
					this.showBigRangeWarning = true;

				this.showResult = true;
				this.resultText = addrs[0].toString() + "/" + cnt;
			}
		}
	});
</script>
{% endraw %}
{% endblock %}