{% extends 'templates/tool-base.html' %}

{% set title = "ip-range-calc" %}
{% set desc = "calculate the smallest CIDR block encompassing a given list of IP addresses" %}

{% block tool %}
{% raw %}
<section class="container">
	<div id="app">
		<form>
			<div class="form-group">
				<label for="mainTextInput">List the IP addresses below (one per line)</label>
				<textarea class="form-control" rows="7" id="mainTextInput" v-model.trim="inputText"></textarea>
			</div>
			<div class="form-group">
				<label for="selectIpType">What kind of IP addresses are these?</label>
				<select class="form-control" id="selectIpType" v-model="selectedIPType">
					<option v-for="ipType in ['4', '6']" :key="ipType" :value="ipType">IPv{{ipType}}</option>
				</select>
			</div>

			<input type="button" value="Calculate!" class="btn btn-primary" v-on:click.prevent="calculate">
		</form>

		<div class="card mt-4" v-show="showResult">
			<div class="card-header">Result</div>
			<div class="card-body">{{resultText}}</div>
		</div>

		<p class="alert alert-warning mt-2" role="alert" v-if="showBigRangeWarning">⚠️ MediaWiki prohibits rangeblocks this large. Try experimenting with multiple, smaller ranges.</p>
	</div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% raw %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/ipaddr.js/1.9.1/ipaddr.min.js" crossorigin="anonymous"></script>

<script>

	function binaryFillTop(num, size) {
		let out = 0;
		for (i = size - 1; i >= size - num; i--)
			out += 2 ** i;
		return out;
	}

	function normalizeCIDR(addr, cidr, numBits) {
		let mask = Array(addr.length).fill(0);
		let fillCnt = Math.floor(cidr / numBits);
		mask.fill(binaryFillTop(numBits, numBits), 0, fillCnt);

		if (fillCnt < mask.length)
			mask[fillCnt] = binaryFillTop(cidr % numBits, numBits);

		for (i = 0; i < addr.length; i++)
			addr[i] &= mask[i];

		return addr;
	}

	new Vue({
		el: "#app",
		data: {
			inputText: "",
			selectedIPType: "",
			resultText: "",
			showBigRangeWarning: false,
			showResult: false
		},
		methods: {
			calculate() {
				this.showBigRangeWarning = false;

				if (!this.inputText || !this.selectedIPType)
					return alert("Error: Please fill out all fields!");

				let protocol, cnt;
				if (this.selectedIPType === "4") {
					protocol = ipaddr.IPv4;
					cnt = 32;
				}
				else  // this.selectedIPType === "6"
				{
					protocol = ipaddr.IPv6;
					cnt = 128;
				}

				let ipL = this.inputText.split("\n").map(s => s.trim()).filter(ip => ip);

				// validate and parse IP addresses from user input
				let addrs = [];
				for (i = 0; i < ipL.length; i++) {
					if (!protocol.isValid(ipL[i]))
						return alert("Error: '" + ipL[i] + "' is not a valid IP address in this context.  Please fix before proceeding");

					addrs.push(ipaddr.parse(ipL[i]));
				}

				// count backwards until we get a CIDR match
				if (addrs.length > 1)
					for (i = 1; i < addrs.length; i++)
						while (!addrs[i].match(addrs[0], cnt) && cnt > 0)
							cnt--;

				// show warning for big ranges
				if (ipaddr.IPv4 === protocol && cnt < 16 || ipaddr.IPv6 === protocol && cnt < 19)
					this.showBigRangeWarning = true;

				// normalize output
				if (ipaddr.IPv4 === protocol)
					this.resultText = ipaddr.fromByteArray(normalizeCIDR(addrs[0].toByteArray(), cnt, 8)).toString() + "/" + cnt;
				else
					// normalizeCIDR(addr, cnt, 16); // IPv6 parsing is broken in ipaddr.js, so retain old behavior
					this.resultText = addrs[0].toString() + "/" + cnt;

				this.showResult = true;
			}
		}
	});
</script>
{% endraw %}
{% endblock %}