{% extends 'templates/tool-base.html' %}

{% set title = "password-strength" %}
{% set desc = "estimates the strength of a given passphrase" %}

{% block tool %}
{% raw %}
<section>
	<div class="container">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Caution:</strong> Do NOT enter your real passwords! This tool is just for fun and was made for educational purposes only, use at your own risk.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>

	<div class="container" id="app">
		<form>
			<div class="form-group">
				<label for="mainTextInput">Enter the phrase to check:</label>
				<input type="email" class="form-control form-control-lg" id="mainTextInput" v-on:input="doCheck" v-model="inputText">
			</div>

			<div class="card mt-5" v-show="showResult">
				<div class="card-body">
					<h4>Estimated Strength</h4>
					<div class="progress">
						<div class="progress-bar" v-bind:class="[barClass]" role="progressbar" v-bind:style="{width: barSize + '%'}">{{barText}}</div>
					</div>

					<h4 class="mt-4">Statistics</h4>
					<p class="card-text">
					<ul>
						<li>Estimated guesses needed to crack password: {{resultGuesses}}</li>
						<li>Estimated time needed to crack password:
							<ul>
								<li>{{crackTime.online_throttling_100_per_hour}} &mdash; 100 attempts/hour (one machine, rate limiting in place)</li>
								<li> {{crackTime.online_no_throttling_10_per_second}} &mdash; 10 attempts/sec (one machine, no rate limiting)</li>
								<li>{{crackTime.offline_slow_hashing_1e4_per_second}} &mdash; offline attack, assumes multiple machines</li>
								<li>{{crackTime.offline_fast_hashing_1e10_per_second}} &mdash; 10 billion attempts/sec, assumes agressive attacker with access to many machines</li>
							</ul>
						</li>
					</ul>
					</p>

					<div v-show="showSuggestion">
						<h4 class="mt-4">Feedback</h4>
						<p class="card-text">
						<ul>
							<li v-show="resultFeedback">{{resultFeedback}}</li>
							<li v-show="resultSuggestions">Possible Improvements:
								<ul>
									<li v-for="s in resultSuggestions" :key="s">{{s}}</li>
								</ul>
							</li>
						</ul>
						</p>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% raw %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/zxcvbn/4.4.2/zxcvbn.js" crossorigin="anonymous"></script>

<script>
	new Vue({
		el: "#app",
		data: {
			inputText: "",
			barClass: "bg-warning",
			barText: "",
			barSize: 0,
			showResult: false,
			resultGuesses: 0,
			crackTime: {},
			showSuggestion: false,
			resultFeedback: "",
			resultSuggestions: []
		},
		methods: {
			doCheck() {
				if (!this.inputText) {
					this.showResult = false;
					return;
				}

				let result = zxcvbn(this.inputText);
				this.barSize = (result.score + 1) * 20;

				switch (result.score) {
					case 0:
						this.barText = "too guessable (weak)";
						this.barClass = "bg-danger";
						break;
					case 1:
						this.barText = "very guessable (weak)"
						this.barClass = "bg-danger";
						break;
					case 2:
						this.barText = "somewhat guessable (weak)"
						this.barClass = "bg-warning";
						break;
					case 3:
						this.barText = "safely unguessable (okay)"
						this.barClass = "bg-primary";
						break;
					case 4:
						this.barText = "very unguessable (great)"
						this.barClass = "bg-success";
						break;
					default:
						return alert("Something went wrong!  This score doesn't exist: " + result.score);
				}

				this.resultGuesses = result.guesses;
				this.crackTime = result.crack_times_display;
				this.resultFeedback = result.feedback.warning;
				this.resultSuggestions = result.feedback.suggestions;
				this.showSuggestion = this.resultFeedback || this.resultSuggestions.length > 0;

				this.showResult = true;
			}
		}
	});
</script>
{% endraw %}
{% endblock %}