{% extends 'templates/tool-base.html' %}

{% set title = "raid-calc" %}
{% set desc = "calculate RAID storage efficiency" %}

{% block tool %}
{% raw %}
<section class="container">
	<div id="app">
		<form>
			<div class="form-group">
				<label for="selectRaidLevelBox">Select a RAID level</label>
				<select class="form-control" id="selectRaidLevelBox" v-model="selectedRaidLevel">
					<option v-for="v in raidLevels" :key="v" :value="v">{{v}}</option>
				</select>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="numHDDField">Number of Hard Drives</label>
					<input id="numHDDField" class="form-control" type="number" v-model="numHDD" min="2">
				</div>

				<div class="form-group col-md-6">
					<label for="hddSizeField">Hard Drive Size (TB)</label>
					<input id="hddSizeField" class="form-control" type="number" v-model="hddSize" min="2">
				</div>
			</div>
		</form>

		<div class="card mt-4" v-show="showResult">
			<div class="card-header">
				Result
			</div>
			<div class="card-body">
				{{calc()}}
			</div>
			<div class="card-footer">
				<small class="text-muted">Note: these values are theoretical. Manufacturing process and filesystem overhead will usually result in smaller real world values.</small>
			</div>
		</div>

	</div>
</section>
{% endraw %}
{% endblock %}


{% block scripts %}
{% raw %}
<script>

	function generateMessage(name, usableSize, paritySize, parityDrives, message) {
		let out = `${usableSize} TB usable and ${paritySize} TB dedicated to parity, with a fault tolerance of ${parityDrives} drive(s).`;
		if (message)
			out += "  " + message;
		return out;
	}

	function calcRAIDMessage(name, minDrives, parityDrives, numHDD, hddSize) {
		numHDD = parseInt(numHDD, 10);
		hddSize = parseInt(hddSize, 10);

		if (minDrives > numHDD)
			return `Error: ${name} requires at least ${minDrives} drives`;

		return generateMessage(name, (numHDD - parityDrives) * hddSize, parityDrives * hddSize, parityDrives, null);

	}

	new Vue({
		el: "#app",
		data: {
			raidLevels: ["RAID0", "RAID1", "RAID4", "RAID5", "RAID6", "RAID-Z", "RAID-Z2", "RAID-Z3"],
			indentLevel: 1,
			numHDD: 4,
			hddSize: 4,
			selectedRaidLevel: "",
			showResult: false
		},
		methods: {
			calc() {
				if (!this.selectedRaidLevel)
					return;

				this.showResult = true;

				switch (this.selectedRaidLevel) {
					case "RAID0":
						return generateMessage(this.selectedRaidLevel, parseInt(this.numHDD, 10) * parseInt(this.hddSize, 10), 0, 0, "If any one drive fails the entire array will be lost.");
					case "RAID1":
						return generateMessage(this.selectedRaidLevel, this.hddSize, 0, 0, `Can sustain ${parseInt(this.numHDD, 10) - 1} drive failures before data loss.`);
					case "RAID4":
						return calcRAIDMessage(this.selectedRaidLevel, 3, 1, this.numHDD, this.hddSize);
					case "RAID5":
						return calcRAIDMessage(this.selectedRaidLevel, 3, 1, this.numHDD, this.hddSize);
					case "RAID6":
						return calcRAIDMessage(this.selectedRaidLevel, 4, 2, this.numHDD, this.hddSize);
					case "RAID-Z0":
						return generateMessage(this.selectedRaidLevel, parseInt(this.numHDD, 10) * parseInt(this.hddSize, 10), 0, 0, "If any one drive fails the entire array will be lost.");
					case "RAID-Z":
						return calcRAIDMessage(this.selectedRaidLevel, 2, 1, this.numHDD, this.hddSize);
					case "RAID-Z2":
						return calcRAIDMessage(this.selectedRaidLevel, 3, 2, this.numHDD, this.hddSize);
					case "RAID-Z3":
						return calcRAIDMessage(this.selectedRaidLevel, 4, 3, this.numHDD, this.hddSize);
					default:
						return alert("invalid selection: " + this.selectedRaidLevel);
				}
			}
		}
	});
</script>
{% endraw %}
{% endblock %}