{% extends 'templates/tool-base.html' %}

{% set title = "text2hash" %}
{% set desc = "hash text right in your browser" %}

{% block tool %}
{% raw %}
<section>
	<div class="container" id="app">
		<form>
			<div class="form-group">
				<label for="mainTextInput">First, type the text you want to hash:</label>
				<textarea class="form-control" rows="3" id="mainTextInput" v-model="inputText"></textarea>
			</div>

			<div class="form-group">
				<label for="selectAlgBox">Next, choose your hashing algorithim:</label>
				<select class="form-control" id="selectAlgBox" v-model="selectedAlg">
					<option v-for="v in vals" :key="v.name" :value="v.name">{{v.name}} ({{v.type}})</option>
				</select>
			</div>

			<hr>
			<div class="card">
				<div class="card-header">
					And here is your result:
				</div>
				<div class="card-body">
					{{doHash()}}
				</div>
			</div>
		</form>
	</div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% raw %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" crossorigin="anonymous"></script>

<script>
	new Vue({
		el: "#app",
		data: {
			vals: [{ name: "sha3-512", type: "strong" }, { name: "sha512", type: "strong" }, { name: "sha384", type: "better" }, { name: "sha256", type: "better" },
			{ name: "sha1", type: "weak" }, { name: "md5", type: "weak" }],
			selectedAlg: "sha3-512",
			inputText: ""
		},
		methods: {
			doHash() {
				if (!this.inputText)
					return "";

				switch (this.selectedAlg) {
					case 'md5':
						return CryptoJS.MD5(this.inputText)
						break;
					case 'sha1':
						return CryptoJS.SHA1(this.inputText)
						break;
					case 'sha256':
						return CryptoJS.SHA256(this.inputText)
						break;
					case 'sha384':
						return CryptoJS.SHA384(this.inputText)
						break;
					case 'sha512':
						return CryptoJS.SHA512(this.inputText)
						break;
					case 'sha3-512':
						return CryptoJS.SHA3(this.inputText)
						break;
					default:
						return alert("Invalid option, should never reach here");
						break;
				}
			}
		}
	});
</script>
{% endraw %}
{% endblock %}