{% extends 'templates/tool-base.html' %}

{% set title = "base-encode" %}
{% set desc = "encode/decode strings to/from base64" %}

{% block tool %}
{% raw %}
<section class="container">
	<div id="app">
		<form>
			<div class="form-group">
				<label for="selectAlgBox">Enter the text you want to encode or decode:</label>
				<select class="form-control" id="selectAlgBox" v-model="selectedAlg">
					<option v-for="a in actions" :key="a" :value="a">{{a}}</option>
				</select>
			</div>

			<div class="form-group">
				<label for="mainTextInput">Text to process:</label>
				<textarea class="form-control" rows="3" id="mainTextInput" v-model="inputText"></textarea>
			</div>
		</form>

		<div class="card mt-4" v-show="inputText">
			<div class="card-header">Result</div>
			<div class="card-body">
				<pre>{{procText()}}</pre>
			</div>
		</div>
	</div>
</section>
{% endraw %}
{% endblock %}


{% block scripts %}
{% raw %}
<script>
	const encoder = new TextEncoder();
	const decoder = new TextDecoder();

	Vue.createApp({
		data() {
			return {
				actions: ["encode", "decode"],
				selectedAlg: "encode",
				inputText: ""
			};
		},
		methods: {
			procText() {
				if (!this.inputText)
					return "";
				try {
					if (this.selectedAlg === "encode")
						return window.btoa(String.fromCharCode(...encoder.encode(this.inputText)));
					else {
						const decoded = window.atob(this.inputText);
						const bytes = new Uint8Array(decoded.length);
						for (let i = 0; i < bytes.length; i++)
							bytes[i] = decoded.charCodeAt(i);

						return decoder.decode(bytes);
					}
				}
				catch (e) {
					console.log(e);
					return `Invalid input unable to ${this.selectedAlg}`;
				}
			}
		}
	}).mount("#app");
</script>

{% endraw %}
{% endblock %}