{% extends 'templates/tool-base.html' %}

{% set title = "json-format" %}
{% set desc = "the simple json formatter" %}

{% block tool %}
{% raw %}
<section class="container">
	<div id="app">
		<form>
			<div class="form-group">
				<label for="textInputField">Text to format</label>
				<textarea class="form-control" rows="15" id="textInputField" v-model.trim="text"></textarea>
			</div>

			<div class="form-group">
				<label for="indentLevelField">Indentation level</label>
				<input id="indentLevelField" class="form-control" type="number" v-model.number="indentLevel" min="1" max="10">
			</div>
		</form>

		<div class="card mt-4">
			<div class="card-header">Result</div>
			<div class="card-body">
				<pre>{{procText()}}</pre>
			</div>
		</div>
	</div>
</section>
{% endraw %}
{% endblock %}


{% block scripts %}
{% raw %}
<script>
	new Vue({
		el: "#app",
		data: {
			indentLevel: 1,
			text: ""
		},
		methods: {
			procText() {
				if (!this.text)
					return "";

				try {
					return JSON.stringify(JSON.parse(this.text), null, this.indentLevel);
				}
				catch (e) {
					return e.message;
				}
			}
		}
	});
</script>
{% endraw %}
{% endblock %}