{% extends 'templates/tool-base.html' %}

{% set title = "json-xml" %}
{% set desc = "convert JSON to XML and XML to JSON" %}

{% block tool %}
{% raw %}
<section class="container">
    <div id="app">
        <form>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioButtons" id="xmlToJSONButton" value="xml" v-model="processMode">
                    <label class="form-check-label" for="xmlToJSONButton">XML to JSON</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioButtons" id="jsonToXMLButton" value="json" v-model="processMode">
                    <label class="form-check-label" for="jsonToXMLButton">JSON to XML</label>
                </div>
            </div>

            <div class="form-group">
                <label for="textInputField">The {{processMode.toUpperCase()}} to convert</label>
                <textarea class="form-control" rows="15" id="textInputField" v-model.trim="text"></textarea>
                <small class="form-text text-muted" v-show="processMode === 'json'">Warning: JSON arrays cannot be translated to XML</small>
            </div>

            <input type="button" value="Do it" class="btn btn-primary" v-on:click.prevent="generate" v-bind:disabled="!text">
        </form>

        <div class="card mt-4" v-show="result">
            <div class="card-header">Result</div>
            <div class="card-body">
                <pre>{{result}}</pre>
            </div>
        </div>
    </div>
</section>
{% endraw %}
{% endblock %}


{% block scripts %}
{% raw %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/fast-xml-parser/4.0.1/fxparser.js" crossorigin="anonymous"></script>

<script>
    const options = { format: true }
    const parser = new fxparser.XMLParser(options, true);
    const builder = new fxparser.XMLBuilder(options);

    Vue.createApp({
        data() {
            return {
                processMode: "xml",
                text: "",
                result: ""
            };
        },
        methods: {
            generate() {
                if (this.processMode === "xml") {
                    const r = fxparser.XMLValidator.validate(this.text);
                    this.result = r !== true ? `${r.err.code}: ${r.err.msg}  See line ${r.err.line}` : parser.parse(this.text);
                }
                else
                    try {
                        this.result = '<?xml version="1.0"?>\n' + builder.build(JSON.parse(this.text));
                    }
                    catch (e) {
                        this.result = e.message;
                    }
            }
        }
    }).mount("#app");
</script>
{% endraw %}
{% endblock %}