{% extends 'templates/tool-base.html' %}

{% set title = "random-number" %}
{% set desc = "secure random number generator" %}

{% block tool %}
{% raw %}
<section class="container">
	<div id="app">
		<form>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="minNumField">Min value</label>
					<input id="minNumField" class="form-control" type="number" v-model.number="minInt" min="0" max="4294967295">
				</div>

				<div class="form-group col-md-4">
					<label for="maxNumField">Max value</label>
					<input id="maxNumField" class="form-control" type="number" v-model.number="maxInt" min="0" max="4294967295">
				</div>

				<div class="form-group col-md-4">
					<label for="countField">Count</label>
					<input id="countField" class="form-control" type="number" v-model.number="count" min="1" max="65536">
				</div>
			</div>

			<input type="button" value="Generate" class="btn btn-primary" v-on:click.prevent="generate">
		</form>

		<div class="card mt-4" v-show="showResult">
			<div class="card-header">Result</div>
			<div class="card-body">{{result}}</div>
		</div>

	</div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% raw %}
<script>
	new Vue({
		el: "#app",
		data: {
			minInt: 0,
			maxInt: 100,
			showResult: false,
			count: 1,
			result: ""
		},
		methods: {
			generate() {
				const out = [];
				for (const v of window.crypto.getRandomValues(new Uint32Array(this.count)))
					out.push(Math.floor(v / 2 ** 32 * (this.maxInt - this.minInt + 1)) + this.minInt);

				this.result = out.join(", ");

				this.showResult = true;
			}
		}
	});
</script>
{% endraw %}
{% endblock %}