{% extends 'templates/tool-base.html' %}

{% set title = "union-intersection" %}
{% set desc = "perform a union or intersection on lists of text/strings" %}

{% block tool %}
{% raw %}
<section class="container">
	<div id="app">
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="textInputField1">Text Group 1</label>
					<textarea class="form-control" rows="15" id="textInputField1" v-model.trim="text1"></textarea>
				</div>
				<div class="form-group col-md-6">
					<label for="textInputField2">Text Group 2</label>
					<textarea class="form-control" rows="15" id="textInputField2" v-model.trim="text2"></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="radioButtons" id="unionButton" value="union" v-model="mergeOption">
					<label class="form-check-label" for="unionButton">Union</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="radioButtons" id="intersectionButton" value="intersection" v-model="mergeOption">
					<label class="form-check-label" for="intersectionButton">Intersection</label>
				</div>
			</div>

			<input type="button" value="Do it" class="btn btn-primary" v-on:click.prevent="procText">
		</form>

		<div class="card mt-4" v-show="showResult">
			<div class="card-header">Result</div>
			<div class="card-body">
				<pre>{{result}}</pre>
			</div>
		</div>
	</div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% raw %}
<script>
	new Vue({
		el: "#app",
		data: {
			text1: "",
			text2: "",
			mergeOption: "union",
			result: "",
			showResult: false
		},
		methods: {
			procText() {
				let out = null;
				const l1 = this.text1.split("\n");
				const l2 = this.text2.split("\n");

				if (this.mergeOption === "union")
					out = Array.from(new Set(l1.concat(l2)));
				else // intersection
				{
					const setA = new Set(l1);
					out = Array.from(new Set(l2)).filter(x => setA.has(x));
				}

				this.showResult = true;
				this.result = out.join("\n");
			}
		}
	});
</script>
{% endraw %}
{% endblock %}