{% extends 'templates/tool-base.html' %}

{% set title = "upside-down" %}
{% set desc = "Flips ascii text upside down 🙃" %}

{% block tool %}
{% raw %}
<section class="container">
    <div id="app">
        <form>
            <div class="form-group">
                <label for="textInputField">Text to flip</label>
                <textarea class="form-control" rows="15" id="textInputField" v-model.trim="text"></textarea>
            </div>

            <div class="form-check form-group">
                <input class="form-check-input" type="checkbox" id="disableReverseOutputBox" v-model="disableReverse">
                <label class="form-check-label" for="disableReverseOutputBox">disable reverse output</a></label>
            </div>
        </form>

        <div class="card mt-4">
            <div class="card-header">Flipped Text</div>
            <div class="card-body">
                <p class="" style="white-space: pre;">{{flippedText}}</p>
            </div>
        </div>

        <div class="alert alert-warning mt-4" role="alert" v-show="hasError">
            WARNING: did not convert {{[...badChars]}}, it has not been replaced in the final output.
        </div>

    </div>
</section>
{% endraw %}
{% endblock %}


{% block scripts %}
{% raw %}
<script>
    const m = {
        "a": "\u0250",
        "b": "\u0071",
        "c": "\u0254",
        "d": "\u0070",
        "e": "\u01DD",
        "f": "\u025F",
        "g": "\u0253",
        "h": "\u0265",
        "i": "\u1D09",
        "j": "\u017F",
        "k": "\u029E",
        "l": "\u006C",
        "m": "\u026F",
        "n": "\u0075",
        "o": "\u006F",
        "p": "\u0064",
        "q": "\u0062",
        "r": "\u0279",
        "s": "\u0073",
        "t": "\u0287",
        "u": "\u006E",
        "v": "\u028C",
        "w": "\u028D",
        "x": "\u0078",
        "y": "\u028E",
        "z": "\u007A",

        "A": "\u2200",
        "B": "\u15FA",
        "C": "\u0186",
        "D": "\u15E1",
        "E": "\u018E",
        "F": "\u2132",
        "G": "\u2141",
        "H": "\u0048",
        "I": "\u0049",
        "J": "\u017F",
        "K": "\uA4D8",
        "L": "\u2142",
        "M": "\uA7FD",
        "N": "\u004E",
        "O": "\u004F",
        "P": "\u0500",
        "Q": "\u10E2",
        "R": "\u1D1A",
        "S": "\u0053",
        "T": "\u22A5",
        "U": "\u0548",
        "V": "\u039B",
        "W": "\u004D",
        "X": "\u0058",
        "Y": "\u2144",
        "Z": "\u005A",

        "1": "\u21C2",
        "2": "\u218A",
        "3": "\u218B",
        "4": "\u07C8",
        "5": "\u100C",
        "6": "\u0039",
        "7": "\u3125",
        "8": "\u0038",
        "9": "\u0036",
        "0": "\u0030",

        ";": "\u061B",
        ",": "\u0027",
        ".": "\u02D9",
        "'": "\u002C",
        "\"": "\u201E",
        "!": "\u00A1",
        "?": "\u00BF",
        "_": "\u203E",
        "&": "\u214B",
    }

    const wl = new Set([" ", "\n"])

    new Vue({
        el: "#app",
        data: {
            text: "",
            badChars: new Set(),
            hasError: false,
            disableReverse: false
        },
        computed: {
            flippedText() {
                this.badChars.clear();

                let out = "";
                for (const c of this.text)
                    if (m[c])
                        out += m[c];
                    else {
                        if (!wl.has(c))
                            this.badChars.add(c);

                        out += c;
                    }

                this.hasError = this.badChars.size > 0;

                return this.disableReverse ? out : out.split("").reverse().join("");
            }
        }
    });
</script>
{% endraw %}
{% endblock %}