{% extends 'templates/tool-base.html' %}

{% set title = "what-is-my-ip" %}
{% set desc = "Show your IP address" %}

{% block tool %}
{% raw %}
<section class="container">
	<div id="app">
		<div class="card mt-4">
			<div class="card-header">Your IP Address</div>
			<div class="card-body">
				<span class="spinner-border text-primary" role="status" v-if="!outputText"></span>
				<pre v-else>{{outputText}}</pre>
			</div>
		</div>
	</div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
{% include 'templates/lib-axios.html' %}

{% raw %}
<script type="module">
	import JSWiki from "/jswiki.js";

	Vue.createApp({
		data() {
			return {
				outputText: ""
			};
		},
		beforeMount() {
			new JSWiki().whoami().then(s => this.outputText = s);
		}
	}).mount("#app");
</script>
{% endraw %}
{% endblock %}