<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Facebook Sharing -->
    <meta property="og:title" content="ftools" />
    <meta property="og:description" content="Fastily's Tools" />
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Toolforge_logo.svg/480px-Toolforge_logo.svg.png" />

    <!-- Googlebot -->
    <meta name="description" content="Fastily's Wikipedia Tools.  Privacy First: No ads, no tracking, no nonsense." />

    <title>{{title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">

    {% block styles %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light" id="main-nav">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><span style="font-family:'Trebuchet MS';color:Indigo;font-weight:bold;"><span style="font-size:120%;">F</span><span style="font-size:90%;">TOOLS</span></span></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% block navbar_links %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.16.0/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue/2.6.11/vue.min.js" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>